<!DOCTYPE html>


<html>

    <head>

        <title>Watson</title>

        <style>

            a {text-decoration: none; color: black;}

        </style>

    </head>


    <body>
			<iframe src="game.html"  scrolling="no" frameborder="0" style="height: 90%; width: 90%"></iframe>

        <h1>Watson</h1>


        <form action="/" method="post">

            <p>

                <label for="message">Saisissez votre message pour que je puisse analyser votre personnalité :</label><br />

                <textarea name="message" id="message" rows="7" cols="100"></textarea>

                <input type="submit" />

            </p>

        </form>
        <script>
        <% if (typeof personality !== 'undefined') { %>

            <pre><%= personality %></pre>

        <% } %>
</script>
    </body>

</html>
